<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ABC.Infrastructure.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ABC.Infrastructure.Properties.Settings>
      <setting name="LocationTracker_IP" serializeAs="String">
        <value>10.6.6.201</value>
      </setting>
      <setting name="LocationTracker_Port" serializeAs="String">
        <value>43210</value>
      </setting>
    </ABC.Infrastructure.Properties.Settings>
  </userSettings>
</configuration>